In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn import linear_model

In [2]:
salary_df = pd.read_csv('./hiring.csv')
salary_df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [3]:
# fill na
salary_df['experience'].fillna('six',inplace=True)

In [4]:
salary_df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        six                    8.0                           9      50000
1        six                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [5]:
salary_df['test_score(out of 10)'].fillna(salary_df['test_score(out of 10)'].mean(),inplace=True)

In [6]:
salary_df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        six               8.000000                           9      50000
1        six               8.000000                           6      45000
2       five               6.000000                           7      60000
3        two              10.000000                          10      65000
4      seven               9.000000                           6      70000
5      three               7.000000                          10      62000
6        ten               7.857143                           7      72000
7     eleven               7.000000                           8      80000

In [7]:
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   experience                  8 non-null      object
 1   test_score(out of 10)       8 non-null      float64
 2   interview_score(out of 10)  8 non-null      int64
 3   salary($)                   8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [8]:
experience_mapping = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10, 'eleven': 11}
salary_df['experience'] = salary_df['experience'].replace(experience_mapping)

In [9]:
salary_reg = linear_model.LinearRegression()
salary_reg.fit(salary_df[['experience','test_score(out of 10)','interview_score(out of 10)']],salary_df['salary($)'])

LinearRegression()

In [10]:
salary_reg.predict([[1,1,1]])

/home/ibande/.local/lib/python3.8/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([18924.21677487])

In [11]:
salary_reg.predict([[9,7,10]])

/home/ibande/.local/lib/python3.8/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([75850.64456312])

In [11]:
salary_reg.score(salary_df[['experience','test_score(out of 10)','interview_score(out of 10)']],salary_df['salary($)'])

0.3996333405592497

In [ ]:
# the data was ambigous